@if (!IsTable)
{
    <div class="row text-center alert text-light bg-dark">
        <div class="col">
            <p>@Book.Name</p>
            <p>@Book.Description</p>
            <p>@Book.ReleaseDate.ToString("dd.MM.yyyy")</p>
        </div>
    </div>
    @if (DisplayButtons)
    {
        <div class="row">
            <div class="col offset-3">
                <button class="btn btn-danger" @onclick="SwitchBook">F5</button>
            </div>
            <div class="col">

            </div>
        </div>
    }
   
}
else
{
    <tr>
        <td>@Book.Name</td>
        <td>@Book.Description</td>
        <td>@Book.ReleaseDate.ToString("dd.MM.yyyy")</td>
        <td>
            @if (DisplayButtons)
            {
                <button class="btn btn-danger" @onclick="(() => DeleteBook.InvokeAsync(Book))">Delete</button>
            }
           
        </td>
    </tr>
}


@code {
    [Parameter] public Book Book { get; set; }
    [Parameter] public bool IsTable { get; set; }
    [Parameter] public bool DisplayButtons { get; set; } = false;
    [Parameter] public EventCallback<Book> DeleteBook { get; set; }
    [Parameter] public EventCallback SwitchBook { get; set; }
 
}
